<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="container" style="max-width: 300px;">
      <h1 class="text-center mb-4">Register</h1>
      <form #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="d-flex flex-column justify-content-center ">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="registerName"
              name="registerName"
              placeholder="Name"
              required
              [(ngModel)]="model.name"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="registerEmail"
              name="registerEmail"
              placeholder="Email"
              required
              [(ngModel)]="model.email"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="registerPassword"
              name="registerPassword"
              placeholder="Password"
              required
              [(ngModel)]="model.password"
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="registerConfirmPassword"
              name="registerConfirmPassword"
              placeholder="Confirm Password"
              required
              [(ngModel)]="confirmPassword"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="registerRole"
              name="registerRole"
              placeholder="Role"
              required
              [(ngModel)]="model.role"
            />
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" [disabled]="!isValid()">Login</button>
          </div>
          <a href="login" class="text-center mt-3">Have an account? Login</a>
        </div>
      </form>
    </div>
  </div>
  