<div class="orar-wrapper">
  <div class="card-header">
    <h2>Orar</h2>
  </div><br>

  <div *ngIf="orar && orar.length > 0" class="d-flex justify-content-between align-items-center mb-3">
    <button 
      [ngClass]="isEditable ? 'btn btn-outline-danger' : 'btn btn-outline-primary'" 
      (click)="toggleEdit()">
      {{ isEditable ? 'Închide' : 'Editare' }}
    </button>

    <div *ngIf="isEditable" class="text-danger fw-semibold">
      🔧 În proces de editare
    </div>
    <div *ngIf="!isEditable" class="text-primary fw-semibold">
      ✅ Validat
    </div>
  </div>


  <div *ngIf="orar && orar.length === 0 && !addingNew" class="centered-message text-center p-4">
    <p class="mb-3 fs-5">Nu există date pentru orar.</p>
    <button class="btn btn-primary" (click)="startAddNew()">Adaugă prima înregistrare</button>
  </div>


  <div class="table-responsive" *ngIf="orar && (orar.length > 0 || addingNew)">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>NrPost</th>
          <th>DenPost</th>
          <th>OreCurs</th>
          <th>OreSem</th>
          <th>OreLab</th>
          <th>OreProi</th>
          <th>Tip</th>
          <th>Formatia</th>
          <th>Ziua</th>
          <th>ImparPar</th>
          <th>Materia</th>
          <th>SaptIncept</th>
          <th>TotalOre</th>
          <th *ngIf="isEditable">Acțiuni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of orar; let i = index">
          <td *ngIf="isEditable; else readNrPost">
            <input type="number" class="form-control" [(ngModel)]="o.nrPost" (ngModelChange)="updateOrar(i)" />
          </td>
          <ng-template #readNrPost><td>{{ o.nrPost }}</td></ng-template>

          <td *ngIf="isEditable; else readDenPost">
            <select class="form-control" [(ngModel)]="o.denPost">
              <option value="Prof.">Prof.</option>
              <option value="Conf.">Conf.</option>
              <option value="Sef L.">Sef L.</option>
              <option value="Lect.">Lect.</option>
              <option value="Asist.">Asist.</option>
            </select>
          </td>
          <ng-template #readDenPost><td>{{ o.denPost }}</td></ng-template>

          <td *ngIf="isEditable; else readOreCurs">
            <input type="number" class="form-control" [(ngModel)]="o.oreCurs" />
          </td>
          <ng-template #readOreCurs><td>{{ o.oreCurs }}</td></ng-template>

          <td *ngIf="isEditable; else readOreSem">
            <input type="number" class="form-control" [(ngModel)]="o.oreSem"/>
          </td>
          <ng-template #readOreSem><td>{{ o.oreSem }}</td></ng-template>

          <td *ngIf="isEditable; else readOreLab">
            <input type="number" class="form-control" [(ngModel)]="o.oreLab" />
          </td>
          <ng-template #readOreLab><td>{{ o.oreLab }}</td></ng-template>

          <td *ngIf="isEditable; else readOreProi">
            <input type="number" class="form-control" [(ngModel)]="o.oreProi" />
          </td>
          <ng-template #readOreProi><td>{{ o.oreProi }}</td></ng-template>

          <td *ngIf="isEditable; else readTip">
            <select class="form-control" [(ngModel)]="o.tip">
              <option value="LR">LR</option>
              <option value="MR">MR</option>
              <option value="LE">LE</option>
              <option value="ME">ME</option>
            </select>
          </td>
          <ng-template #readTip><td>{{ o.tip }}</td></ng-template>

          <td *ngIf="isEditable; else readFormatia">
            <input type="text" class="form-control" [(ngModel)]="o.formatia" />
          </td>
          <ng-template #readFormatia><td>{{ o.formatia }}</td></ng-template>

          <td *ngIf="isEditable; else readZiua">
            <select class="form-control" [(ngModel)]="o.ziua">
              <option value="Luni">Luni</option>
              <option value="Marti">Marți</option>
              <option value="Miercuri">Miercuri</option>
              <option value="Joi">Joi</option>
              <option value="Vineri">Vineri</option>
            </select>
          </td>
          <ng-template #readZiua><td>{{ o.ziua }}</td></ng-template>

          <td *ngIf="isEditable; else readImparPar">
            <select class="form-control" [(ngModel)]="o.imparPar">
              <option value="Par">Par</option>
              <option value="Impar">Impar</option>
              <option value=" "></option>
            </select>
          </td>
          <ng-template #readImparPar><td>{{ o.imparPar }}</td></ng-template>

          <td *ngIf="isEditable; else readMateria">
            <input type="text" class="form-control" [(ngModel)]="o.materia" />
          </td>
          <ng-template #readMateria><td>{{ o.materia }}</td></ng-template>

          <td *ngIf="isEditable; else readSaptamana">
            <input type="text" class="form-control" [(ngModel)]="o.saptamanaInceput" />
          </td>
          <ng-template #readSaptamana><td>{{ o.saptamanaInceput }}</td></ng-template>

          <td *ngIf="isEditable; else readTotalOre">
            <input type="number" class="form-control" [(ngModel)]="o.totalOre" />
          </td>
          <ng-template #readTotalOre>
            <td>{{ o.totalOre === 0 ? '' : o.totalOre }}</td>
          </ng-template>



          <td *ngIf="isEditable">
            <button class="btn btn-danger btn-sm" (click)="deleteOrar(i)">Șterge</button>
          </td>
        </tr>

        <!-- rând adăugare -->
        <tr *ngIf="addingNew">
          <td><input type="number" class="form-control" [(ngModel)]="newEntry.nrPost" /></td>
          <td>
            <select class="form-control" [(ngModel)]="newEntry.denPost">
              <option value="Prof.">Prof.</option>
              <option value="Conf.">Conf.</option>
              <option value="Sef L.">Sef L.</option>
              <option value="Lect.">Lect.</option>
              <option value="Asist.">Asist.</option>
            </select>
          </td>
          <td><input type="number" class="form-control" [(ngModel)]="newEntry.oreCurs" /></td>
          <td><input type="number" class="form-control" [(ngModel)]="newEntry.oreSem"  /></td>
          <td><input type="number" class="form-control" [(ngModel)]="newEntry.oreLab"  /></td>
          <td><input type="number" class="form-control" [(ngModel)]="newEntry.oreProi" /></td>
          <td>
            <select class="form-control" [(ngModel)]="newEntry.tip">
              <option value="LR">LR</option>
              <option value="MR">MR</option>
              <option value="LE">LE</option>
              <option value="ME">ME</option>
            </select>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="newEntry.formatia" /></td>
          <td>
            <select class="form-control" [(ngModel)]="newEntry.ziua">
              <option value="Luni">Luni</option>
              <option value="Marti">Marți</option>
              <option value="Miercuri">Miercuri</option>
              <option value="Joi">Joi</option>
              <option value="Vineri">Vineri</option>
            </select>
          </td>
          <td>
            <select class="form-control" [(ngModel)]="newEntry.imparPar">
              <option value="Par">Par</option>
              <option value="Impar">Impar</option>
              <option value=" "></option>
            </select>
          </td>
          <td><input type="text" class="form-control" [(ngModel)]="newEntry.materia" /></td>
          <td><input type="text" class="form-control" [(ngModel)]="newEntry.saptamanaInceput" /></td>
          <td><input type="number" class="form-control" [(ngModel)]="newEntry.totalOre" /></td>
          <td>
            <button class="btn btn-success btn-sm" (click)="addOrar()">Salvează</button>
            <button class="btn btn-secondary btn-sm" (click)="cancelAdd()">Anulează</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex gap-2">
    <button *ngIf="isEditable && !addingNew" class="btn btn-primary mt-2" (click)="startAddNew()">Adaugă rând nou</button>
    <button *ngIf="isEditable" class="btn btn-success mt-2" (click)="saveAllChanges()">Salvează modificările</button>
  </div>

</div>
